{#
/**
* @file
* Theme override for main view template.
*
* Available variables:
* - attributes: Remaining HTML attributes for the element.
* - css_name: A css-safe version of the view name.
* - css_class: The user-specified classes names, if any.
* - header: The optional header.
* - footer: The optional footer.
* - rows: The results of the view query, if any.
* - empty: The content to display if there are no rows.
* - pager: The optional pager next/prev links to display.
* - exposed: Exposed widget form/info to display.
* - feed_icons: Optional feed icons to display.
* - more: An optional link to the next page of results.
* - title: Title of the view, only used when displaying in the admin preview.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the view title.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the view title.
* - attachment_before: An optional attachment view to be displayed before the
*   view content.
* - attachment_after: An optional attachment view to be displayed after the
*   view content.
* - dom_id: Unique id for every view being printed to give unique class for
*   Javascript.
*
* @see template_preprocess_views_view()
*/
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{{ attach_library('dta_gov_au/roadmap') }}

<div{{ attributes.addClass(classes) }}>
{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
<header>
  <div class="row">
    <div class="col-xs-12 col-md-7 ">
      <h1>Roadmap of service improvements for individuals</h1>
      <p class="au-introduction">This roadmap shows the Australian Government’s plans to improve services for individuals. It highlights how a range of agencies across the Australian Government are working to improve the experience individuals have when accessing government services.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-1" id="roadmap-themes">
      <div class="au-callout">
        <h3>Roadmap key</h3>
        <button id="tooltip-button-themes" class="au-btn au-btn--secondary au-tooltip--button" aria-label="About themes" aria-labelledby="tooltip-themes"><span class="sr-only">About themes</span>?</button>
        <div id="tooltip-themes" class="au-tooltip hidden" role="tooltip"><h3>Roadmap themes</h3>
          <p class="au-introduction">We’ve grouped the services and projects in this roadmap into 2 themes. These themes come from the vision of the Digital Transformation Agenda.</p>
          <div class="theme-1">
            <h4>Personalised information and advice</h4>
            <p>Service developments in this group are delivering:</p>
            <ul>
              <li>personalisation of life events</li>
              <li>access to preferred channels</li>
              <li>push communications</li>
            </ul>
          </div>

          <div class="theme-2"><h4>Simplified, streamlined and joined-up services</h4>
            <p>This group is focussed on connecting and joining up services and exploring the use of 3rd party integrations to streamlines service experiences. </p>
          </div>

        </div>
        <p>Service improvements are grouped into the following 2 themes:</p>
        <ul>
          <li class="first">Personalised information and advice</li>
          <li class="second">Simplified, streamlined & joined up services</li>
        </ul>
      </div>
    </div>
  </div>

  </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ rows }}
  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
  <footer>
    {{ footer }}
  </footer>
  {% endif %}

  {{ feed_icons }}
</div>
