{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{{ attach_library('dta_gov_au/modal') }}
<div class="modal modal-wrapper no-js">
  <div class="modal modal-controls modal-controls__open">
    <button class="au-btn">Ask for help</button>
  </div>

  <div class="modal modal-box"
    role="dialog"
    aria-labelledby="ask-for-help"
    aria-describedby="zendesk-support-form"
    aria-hidden="true">

    <div{{ attributes.addClass('modal', 'modal-body' ) }}>
      {{ title_prefix }}
      <h2 id="ask-for-help"{{ title_attributes }}>Ask for help</h2>
      {{ title_suffix }}
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
    <div class="modal modal-controls modal-controls__close">
      <button class="au-btn au-btn--secondary">Close</button>
    </div>
  </div>
  <div class="modal modal-overlay"></div>
</div>
